@using System.Globalization
@using System.Runtime;
@using SportsStore.Domain.Entities;
@model SportsStore.Models.ProducListViewModel

@{
    ViewBag.Title = "Products";
}

@foreach(Product product in Model.Products) {
   @Html.Partial("ProductSummary",product)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, i => Url.Action("List",new {currentPage = i}))
</div>
