@using System.Runtime;
@using SportsStore.Domain.Entities;
@model SportsStore.Models.ProducListViewModel

@{
    ViewBag.Title = "Products";
}

@foreach(var product in Model.Products) {
    <div>
        <h3>@product.Name</h3>
        @product.Description
        <h4> @product.Price.ToString("c") </h4>
    </div>
}

